name: ci

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.1.5
        with:
          node-version: '12.x'
      - run: npm i -g yarn
      - run: yarn set version berry
      - run: yarn config set checksumBehavior ignore
      - name: Cache Node.js modules
        uses: actions/cache@v2.1.5
        with:
          path: ./.yarn
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - run: yarn install
      - run: yarn build
      - run: yarn lint
      - run: yarn test
      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: diff outputs
          path: src/**/__diff_output__/*.png
      - name: Prepare Deploy
        if: github.ref == 'refs/heads/master' && github.event_name == 'push'
        run: |
          mkdir -p public/build
          cp README.md public/README.md
          cp -r examples public/
          cp build/venn.js public/build/
      - name: Deploy
        if: github.ref == 'refs/heads/master' && github.event_name == 'push'
        uses: peaceiris/actions-gh-pages@v3.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          enable_jekyll: true
